{% extends "department_app/base.html" %}

{% block content %}
<div class="row">
    <p class="lead font-italic ml-4">Mechanical Engineering Account Details...</p>
</div>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Amount</td>
            <td>Balance</td>
            <td>Total</td>
            <td>Mobile</td>
            <td>Department</td>
            <td>
                <a href="{% url 'department_app:department_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for mech_list in list %}
            <tr>
                <td>{{mech_list.fullname}}</td>
                <td>{{mech_list.amount}}</td>
                <td>{{mech_list.balance}}</td>
                <td>{{mech_list.total}}</td>
                <td>{{mech_list.mobile}}</td>
                <td>{{mech_list.dept}}</td>
                <td>
                    <a href="{% url 'department_app:department_update' mech_list.id %}" class="btn text-secondary px-0">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'department_app:department_delete' mech_list.id %}" method="post" class=d-inline>
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}